<html>
<head>
	<title>post title</title>
</head>
<body>


	<div class = "content_board">
		

		<!--post content-->
		<div class ="post-content">
			<h1> Post title here </h1>

		</div>

	</div>


	<!--share-->
	<div class = "share">
		<div>
			share this secret
		</div>
	</div>

	<!--comment-->
	<div class = "comment">
		<label for="comment">leave your comment here</label>
		<textarea placeholder = 'Comment'></textarea>
		<a href ng-click="", class = >
			<span>
				submit
			</span>
		</a>

	</div>


</body>
</html>